.home-cont{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    position:absolute;
    z-index: 1;
    margin-top: 90px;
    padding-top: 50px;
}

.head-txt-cont{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.head-txt1{
    font-size: 45px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.btn-shop{
    height: 45px;
    width: 200px;
    border-radius: 4px;
    box-shadow: rgb(255, 255, 255);
    margin: auto;
    color: black;
    background-color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.btn-shop:hover{
    transition: 1.2s;
    background-color: rgb(112, 71, 34);
    color: white;
}

.main-shop-cont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 85px;
    padding-top: 65px;
    width: 100%;
    height: 1200px;
}

.main-shop-left{
    display: flex;
    flex-direction: column;
    gap: 35px;
    overflow: hidden; 
    position: relative;
}

.main-shop-left img{
    width: 100%;
    height: 900px;
    transition: 1.2s;
}

.main-shop-left img:hover{
    transform: scale(1.1);
}

.main-shop-right{
    display: flex;
    flex-direction: column;
    gap: 35px;
    overflow: hidden; 
    position: relative;
}

.main-shop-right img{
    width: 100%;
    height: 900px;
    transition: 1.2s;
}

.main-shop-right img:hover{
    transform: scale(1.1);
   
}

.gender-btn {
    height: 50px;
    width: 350px;
    background-color: transparent;
    border: none;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 27px;
    margin: auto;
}

.cards-main-cont{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 950px;
  
}

.example-1{
    position: absolute;
    z-index: 5;
    bottom: 10%;
    right: 19%;
    width: 30%;
    height: 300px;
}

.example-2{
    position: absolute;
    z-index: 3;
    top: 10%;
    left: 12%;
    width: 30%;
    height: 400px;
}

.info-card{
    position: absolute;
    z-index: 4;
    top: 15%;
    left: 36%;
    height: 530px;
    width: 32%;
    background-color: rgb(143, 197, 102);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    gap: 35px;
    text-align: center;
}

.info-card h1{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font: 22px;
    color: white;
}

.info-card p{
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font: 19px;
    color: rgb(255, 255, 255);
}

.btn-more{
    height: 45px;
    width: 200px;
    background-color: black;
    border: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font: 21px;
    color: white;
}